/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

/* VARIÁVEIS */
:root {
  --primary: #1ca565;
  --secondary: #f5f5f5;
  --dark: #333;
  --light: #fff;
  --orange: #ff6600;
  --blue: #0066ff;
}

/* BODY */
body {
  background-color: var(--secondary);
  color: var(--dark);
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--light);
  opacity: 0.95;
  box-shadow: 0 2px 10px rgba(0,0,0,.08);
  z-index: 1000;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
}

.logo {
  font-size: 1.6rem;
  color: var(--primary);
  margin-left: 15%;
  font-weight: bold;
}

.search {
  display: flex;
  width: 40%;
}

.search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search button {
  padding: 10px 15px;
  border: none;
  background: var(--primary);
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.icons span {
  margin-left: 15px;
  cursor: pointer;
}

/* NAV */
.nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 30px;
  background: var(--light);
  
}

.nav a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  cursor: pointer;
}

/* BANNER */
.banner {
  margin-top: 100px;
  height: 80vh;
  background: url('./banner-gradient.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.banner .card {
  background: none;
  padding: 40px;
  max-width: 800px;
  border-radius: 12px;
  margin-left: 10%;
}

.banner .title {
  font-size: 5rem;
  margin-bottom: 10px;
  color: var(--light);
}
.banner h1.subtitle {
  font-size: 5rem;
  color: var(--primary);
}

.banner p {
  margin: 20px 0;
  color: var(--light);
  font-size: 1.2rem;
}

.banner button {
  padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 40px;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(41, 241, 148, 0.3);
}

.banner button:hover {
  background: #136e44;
  scale: 1.05;
  transition: all 0.3s ease;
}

/* CARDS PROMO */
.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 60px 5%;
}

.card#hortifruti, .card#ofertas, .card#congelados {
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0,0,0,.08);
  text-align: center;
}

.card#hortifruti {
  background-color: var(--primary)
}

.card#ofertas {
  background-color: var(--orange);
}

.card#congelados {
  background-color: var(--blue);
}

.card h1, a, p {
    color: var(--light);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}
.card a:hover {
  cursor: pointer;
    scale: 1.2;
  transition: all 0.1s ease;
}

.banner2 {
  margin-top: 50px;
  height: 300px;
  background: url('./food-8346106_1920.jpg') center/cover no-repeat;
  background-position-y: 50%;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

/* PRODUTOS */

.destaques {
  padding: 60px 5%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.products {
  background: var(--light);
  padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,.1);
  border-radius: 20px;
  text-align: center;
  min-width: 250px;
  max-width: 250px;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.products h2 {
  font-size: 0.9rem;
  color: #777;
}

.products h1 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.products p {
  color: var(--primary);
  font-weight: bold;
}

.products button {
  margin-top: 15px ;
    padding: 8px;
  background: var(--primary);
  box-shadow: 0 4px 10px rgba(41, 241, 148, 0.3);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 2rem;
}

.products button:hover {
  background: #136e44;
  scale: 1.05;
  transition: all 0.1s ease;
}

img {
    padding: 20px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* FOOTER */
.footer {
  background: #222;
  color: #eee;
  padding: 50px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer a {
  display: block;
  color: #ccc;
  margin: 5px 0;
  cursor: pointer;
}

.footer input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.footer button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: var(--primary);
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsividade */

@media (max-width: 900px) {
  .cards-section,
  .destaques,
  .footer {
    grid-template-columns: 1fr;
  }

  .search {
    width: 100%;
  }

  .header-top {
    flex-direction: column;
    gap: 10px;
  }
}



